#scroll-dialog-title {
  text-align: center;
  padding: 16px 0px 6px 0px;
  position: relative;
}

#close-how-to-play-dialog-button {
  position: absolute;
  right: 4px;
  top: 4px;
}

#scroll-dialog-content {
  max-width: 360px;
}

#scroll-dialog-action {
  justify-content: center;
}