#button-area {
  margin: 0px 10px;
  position: relative;
}

.round-button {
  text-align: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.button-animation {
  transition: all 0.3s 0s ease;
}

#reset-button {
  background-color: #ffffff;
  width: 70%;
  padding: 16px;
  text-align: center;
  margin: auto;
  border-radius: 7px;
  cursor: pointer;
}