#app {
  background-color: #dce9ea;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@media screen and (max-width: 230px) {
  #app-container {
    width: 230px;
  }
}
@media screen and (min-width: 231px) and (max-width: 500px) {
  #app-container {
    width: 100%;
  }
}
@media screen and (min-width: 501px) {
  #app-container {
    width: 500px;
  }
}

.app-container-center {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#app-core {
  padding: 0px 16px;
  width: 100%;
}

#app-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#app-components {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#dice-value {
  margin: 10px 0px 30px 0px;
  font-size: xx-large;
}